* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

main {
    width: 600px;
    height: 450px;
    display: flex;
}

.product-img{
    width: 50%;
    height: 100%;
}

.product-img #desktop{
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
}

.product-img #mobile {
    visibility: hidden;
}

.content {
    border-radius: 0 10px 10px 0;
    padding: 30px;
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#parfum-name {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    font-size: 32px;
}

#tag {
    color: hsl(228, 12%, 48%);
    letter-spacing: 2px;
}

#description {
    color: hsl(228, 12%, 48%);
}

.prices {
    display: flex;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: large;
}

#discount {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0 0 10px;
    font-size: 14px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    height: 45px;
    border-radius: 10px;
    text-justify: center;
    font-size: 16px;
}

button:hover {
    background-color: hsl(157, 48%, 18%);
}

@media screen and (max-width: 600px) {
    #desktop {
        display: none;
    }

    .product-img #mobile {
        visibility: visible;
        border-radius: 10px 0 0 10px;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
    }

    .product-img {
        width: 100%;
        height: 40%;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 600px;
        display: flex;
    }

    .content {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}